# Node
node_modules/
site/node_modules/

# Build artifacts
site/dist/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
infra/terraform.tfvars
infra/backend.hcl

# Misc
site/.astro/
.DS_Store
.env
.env.*
